.extra-info__border {
  position: absolute;
  border: none;
  background-color: @basic-green;
  height: 2px;
  width: 158px;
  top: -18px;
  right: 0;
  box-sizing: border-box;
}

.extra-info {
  position: relative;
}

.extra-info__wrapper {
  padding: 0;
  margin-left: 19px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media (min-width: @tablet) {
    width: 565px;
    height: 218px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: @desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 1440px;
  }
}

.extra-info__title {
  font-size: 24px;
  line-height: 26px;
}
