.food-selection {
  color: @white;
  width: 320px;
  height: 480px;
}

.food-selection__header {
  background-image: url("../../img/green.png"),  url("../../img/index-background-cat.jpg");
  background-repeat: no-repeat;
  width: 320px;
  height: 302px;
  text-align: center;
}

.food-selection__topic {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  padding-top: 27px;
}

.food-selection__slogan {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
}

.food-selection__btn {
  text-transform: uppercase;
  text-decoration: none;
  background-color: @basic-green;
  padding: 10px 73px;
  color: @white;
  font-size: 14px;
  line-height: 18px;
  &:hover {
    background-color: @green;
  }
  &:active {
    background-color: @green;
    color: rgba(@white, 0.3);
  }
}

.food-selection__btn-wrapper {
  margin-top: 147px;
  text-align: center;
}

