.location__wrapper {
  margin: 28px 19px 22px 19px;
  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 66px 72px 50px 71px ;
  }
}

.location-invitation {
  display: block;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 140px;
  color: @black-lighter;
  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 21px;
    width: 151px;
  }
}

.location__address {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  width: 140px;
  color: @grey-dark;
  @media (min-width: @tablet) {
    text-align: end;
    margin-left: auto;
    font-size: 16px;
    width: 159px;
  }
}
