.main-nav__wrapper {
  text-align: center;
}

.main-nav__list {
  list-style: none;
}

.main-nav__link {
  color: @black;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.main-nav__border {
  border: none;
  background-color: @grey-border;
  width: 320px;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 20px;
}
/*
.main-nav__link--active {
  border-bottom: 2px solid @basic-green;
}
*/
